# 개인 정리 내용

## 라이브러리 세팅하기

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 데이터 불러오기

In [51]:
data = pd.read_csv('KOBIS.csv') # 데이터 읽어 오기 
data.head()

,ID,Movie_Name,Director,Production_Company,Import_Company,Distributing_Agency,Release_Date,Movie_Type,Movie_Form,Nationality,National_number_screens,National_Sales,National_Audience,Seoul_Sales,Seoul_Audience,Genre,Rating,Movie_Classification
0,1,명량,김한민,(주)빅스톤픽쳐스,NaN,(주)씨제이이엔엠,2014-07-30,개봉영화,장편,한국,"1,587","135,748,398,910","17,613,682","33,121,225,810","4,163,666",사극,15세이상관람가,일반영화
1,2,아바타,제임스 카메론,이십세기폭스필름코퍼레이션,"주식회사 해리슨앤컴퍼니,이십세기폭스코리아(주)","주식회사 해리슨앤컴퍼니,이십세기폭스코리아(주)",2009-12-17,개봉영화,장편,미국,912,"128,447,097,523","13,624,328","40,547,523,000","3,993,374",SF,12세이상관람가,독립/예술영화
2,3,왕의 남자,이준익,"(주)씨네월드,(주)이글픽쳐스",NaN,(주)시네마서비스,2005-12-29,개봉영화,장편,한국,0,0,"12,302,831",0,"3,660,842",드라마,15세이상관람가,일반영화
3,4,극한직업,이병헌,"(주)어바웃잇,영화사 해그림 주식회사,(주)씨제이이엔엠",NaN,(주)씨제이이엔엠,2019-01-23,개봉영화,장편,한국,"1,978","139,647,979,516","16,264,944","31,858,660,536","3,638,287",코미디,15세이상관람가,일반영화
4,5,어벤져스: 엔드게임,"안소니 루소,조 루소",NaN,월트디즈니컴퍼니코리아 유한책임회사,월트디즈니컴퍼니코리아 유한책임회사,2019-04-24,개봉영화,장편,미국,"2,835","122,182,694,160","13,934,592","33,577,136,860","3,597,963",액션,12세이상관람가,일반영화

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26197 entries, 0 to 26196
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       26197 non-null  int64
 1   Movie_Name               26197 non-null  object
 2   Director                 24690 non-null  object
 3   Production_Company       11179 non-null  object
 4   Import_Company           15646 non-null  object
 5   Distributing_Agency      19546 non-null  object
 6   Release_Date             26176 non-null  object
 7   Movie_Type               26197 non-null  object
 8   Movie_Form               26178 non-null  object
 9   Nationality              26186 non-null  object
 10  National_number_screens  26197 non-null  object
 11  National_Sales           25141 non-null  object
 12  National_Audience        26197 non-null  object
 13  Seoul_Sales              25135 non-null  object
 14  Seoul_Audience           26197 non-null  object
 15  Genre                    26006 non-null  object
 16  Rating                   25709 non-null  object
 17  Movie_Classification     26197 non-null  object
dtypes: int64(1), object(17)
memory usage: 3.6+ MB

## 전처리

### 년도와 수익금과 장르를 사용해서 시각화!
- lineplot

In [ ]:
#

# 연습

#

In [57]:
a, b = [1, 2], [3, 4]
a[0] + b[0]
a[0] = a[0] + b[0]
a

[4, 2]

In [50]:
data

0       2014-07-30
1       2009-12-17
2       2005-12-29
3       2019-01-23
4       2019-04-24
           ...
26192   2019-06-27
26193   2013-08-14
26194   2016-12-01
26195   2017-12-25
26196   2016-12-22
Name: Release_Date, Length: 26197, dtype: datetime64[ns]

In [58]:

# data = pd.to_datetime(data['Release_Date'], format = "%Y-%m-%d")
data['Release_Date'] = pd.to_datetime(data['Release_Date'], format = "%Y-%m-%d")

data.head()

,ID,Movie_Name,Director,Production_Company,Import_Company,Distributing_Agency,Release_Date,Movie_Type,Movie_Form,Nationality,National_number_screens,National_Sales,National_Audience,Seoul_Sales,Seoul_Audience,Genre,Rating,Movie_Classification
0,1,명량,김한민,(주)빅스톤픽쳐스,NaN,(주)씨제이이엔엠,2014-07-30,개봉영화,장편,한국,"1,587","135,748,398,910","17,613,682","33,121,225,810","4,163,666",사극,15세이상관람가,일반영화
1,2,아바타,제임스 카메론,이십세기폭스필름코퍼레이션,"주식회사 해리슨앤컴퍼니,이십세기폭스코리아(주)","주식회사 해리슨앤컴퍼니,이십세기폭스코리아(주)",2009-12-17,개봉영화,장편,미국,912,"128,447,097,523","13,624,328","40,547,523,000","3,993,374",SF,12세이상관람가,독립/예술영화
2,3,왕의 남자,이준익,"(주)씨네월드,(주)이글픽쳐스",NaN,(주)시네마서비스,2005-12-29,개봉영화,장편,한국,0,0,"12,302,831",0,"3,660,842",드라마,15세이상관람가,일반영화
3,4,극한직업,이병헌,"(주)어바웃잇,영화사 해그림 주식회사,(주)씨제이이엔엠",NaN,(주)씨제이이엔엠,2019-01-23,개봉영화,장편,한국,"1,978","139,647,979,516","16,264,944","31,858,660,536","3,638,287",코미디,15세이상관람가,일반영화
4,5,어벤져스: 엔드게임,"안소니 루소,조 루소",NaN,월트디즈니컴퍼니코리아 유한책임회사,월트디즈니컴퍼니코리아 유한책임회사,2019-04-24,개봉영화,장편,미국,"2,835","122,182,694,160","13,934,592","33,577,136,860","3,597,963",액션,12세이상관람가,일반영화

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26197 entries, 0 to 26196
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       26197 non-null  int64
 1   Movie_Name               26197 non-null  object
 2   Director                 24690 non-null  object
 3   Production_Company       11179 non-null  object
 4   Import_Company           15646 non-null  object
 5   Distributing_Agency      19546 non-null  object
 6   Release_Date             26176 non-null  datetime64[ns]
 7   Movie_Type               26197 non-null  object
 8   Movie_Form               26178 non-null  object
 9   Nationality              26186 non-null  object
 10  National_number_screens  26197 non-null  object
 11  National_Sales           25141 non-null  object
 12  National_Audience        26197 non-null  object
 13  Seoul_Sales              25135 non-null  object
 14  Seoul_Audience           26197 non-null  object
 15  Genre                    26006 non-null  object
 16  Rating                   25709 non-null  object
 17  Movie_Classification     26197 non-null  object
dtypes: datetime64[ns](1), int64(1), object(16)
memory usage: 3.6+ MB

In [60]:
# 연도 뽑아오기 
import datetime
data['Release_Date'].dt.year

0        2014.0
1        2009.0
2        2005.0
3        2019.0
4        2019.0
          ...
26192    2019.0
26193    2013.0
26194    2016.0
26195    2017.0
26196    2016.0
Name: Release_Date, Length: 26197, dtype: float64

In [61]:
data['Release_Date'].dt.month

0         7.0
1        12.0
2        12.0
3         1.0
4         4.0
         ...
26192     6.0
26193     8.0
26194    12.0
26195    12.0
26196    12.0
Name: Release_Date, Length: 26197, dtype: float64

In [62]:
data['Release_Date'].dt.day

0        30.0
1        17.0
2        29.0
3        23.0
4        24.0
         ...
26192    27.0
26193    14.0
26194     1.0
26195    25.0
26196    22.0
Name: Release_Date, Length: 26197, dtype: float64